.btn {
	background-color: : grey;
}

.calcy {
	width: 300px;
	height: 250px;
	background-color: #8CB56B;
	margin: 0 auto;
	border: 5px solid green;
	border-radius: 10px;
}

.display {
	border: 1px dashed black;
	margin: 5px;
}

/*div {
	border: 1px dashed black;
}*/

.spacing {
	margin: 2px;
	width: 300px;
	height: 15px;
} 

.spacing2 {
	margin-top: 10px;
	
} 

.nopadding {
	padding: 0 !important;
	border: 1px solid #2DFF78;
	
}

.keypad {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
}

.btn {
	background-color: black;
}